.book-list {
    list-style: none;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */

}

.book-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: rgb(117, 153, 132);
    padding: 15px;
}

.preview-btns {
    display: grid;
    grid-template-columns: 1fr 50px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    height: 60px;
}

.sale {
    color: red;
}